section {
    &.about_page {
        padding-bottom: 1em;
        padding-top: 6em;
        .center_content {
            padding: 0;
            background-repeat: no-repeat;
            .about_banner {
                display: flex;
                -ms-flex-line-pack: center;
                align-content: center;
                justify-content: center;
                @include beveled-corners($color-blue, .5em, .5em, 0em, 0em);
                padding: 4em 3em;
                img {
                    width: 100%;
                }
            }
            .about_description {
                @include beveled-corners(#fff, 0, 0, .5em, .5em);
                .text {
                    width: 64%;
                    padding: 4em 6.5em 3em;
                    padding-right: 1.5em;
                    float: left;
                    p {
                        margin-bottom: 1em;
                        font-size: 1.6rem;
                        b, strong {
                            font-weight: 600;
                        }
                    }
                }
                .buttons {
                    float: right;
                    width: 34%;
                    padding: 4em 0em;
                    a {
                        margin-bottom: .5em;
                        font-size: 4rem;
                        line-height: 1.15;
                        padding: 0 .7em;
                        min-width: inherit;
                    }
                    .sign{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width:992px) {
    section {
        &.about_page {
            .center_content {
                .about_description {
                    display: block;
                    .text,
                    .buttons {
                        width: 100%;
                        padding: 1.5em 1.3em;
                    }
                    .buttons {
                        a {
                            max-width: 200px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:640px) {
    section {
        &.about_page {
            padding-top: 3em;
            .standart_block{
                padding: 0;
                .center_content {
                    padding: 0;
                    background: none;
                    .about_banner{
                        background: none;
                        background-color: $color-blue;
                        p.logo{
                            text-align: center;
                            img{
                                width: 80%;
                            }
                        }
                    }
                    .about_description{
                        background: none;
                        background-color: #fff;
                        .text{
                            padding: 5em 6em;
                            p{
                                font-size: 2rem;
                            }
                        }
                        .buttons{
                            text-align: center;
                            br{
                                display: none;
                            }
                            .sign{
                                display: inline-block;
                                margin-right: .5em;
                            }
                            .join{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:520px) {
    .title_section {
        font-size: 4.5rem;
    }
    section {
        &.about_page {
            .center_content {
                .text,
                .buttons {
                    padding: 1.5em 1em;
                }
            }
        }
    }
}
