.modal {
    font-size: 10px;
    .close {
        opacity: 1;
        text-shadow: none;
        color: #1b2534;
        line-height: 1;
        font-size: 2.3em;
        position: absolute;
        right: .7em;
        top: .6em;
        float: none;
        text-align: center;
        font-weight: normal;
    }
    &.fade {
        text-align: center;
        .modal-dialog {
            -webkit-transition: -webkit-transform .2s ease-out;
            transition: -webkit-transform .2s ease-out;
            transition: transform .2s ease-out;
            transition: transform .2s ease-out, -webkit-transform .2s ease-out;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
    .modal-dialog {
        width: auto;
        display: inline-block;
        max-width: 1300px;
        color: #030810;
        background-image: none;
        padding: 4em;
        position: relative;
        margin-top: 20em;
        @include beveled-corners(#fff, .5em, .5em);
        .modal-content {
            margin: auto;
            border: none;
            background: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-align: center;
            position: static;
            .modal_title {
                font-size: 5.5em;
                font-family: $font-sec;
                text-transform: uppercase;
                color: #fff;
                position: absolute;
                top: -1.5em;
                left: 0;
                right: 0;
                img {
                    display: block;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -1.3em;
                }
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inherit;
                }
            }
        }
    }
    .sign-up-cont{
        width: 1220px;
        .sing-in_section_cont {
            .top,
            .bottom {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                align-items: baseline;
                .col3-item {
                    width: 33.3%;
                    padding: 0 2em;
                    text-align: left;
                }
            }
            .bottom {
                padding-top: 2em;
            }
        }
    }
    .promotion-cont {
        width: 1220px;
        margin: -4em;
        @include clip-path(10px, calc(100% - 10px));
        .close{
            color: #fff;
        }
        .wrap{
            display: flex;
            .col2{
                width: 50%;
                &.banner{

                }
                &.blue{
                    background: #2b466f;
                    color: #fff;
                    font-family: $font-stack;
                    text-align: left;
                    padding: 4em;
                    p{
                        font-size: 2em; 
                        padding-bottom: 1.5em;                      
                    }
                    .link_term{
                        color: $color-blue;
                        font-family: $font-stack;
                    }
                }
            }

        }
    }
    .login-cont, .pass-recovery-cont {
        width: 395px;
        text-align: left;
        padding-top: 1.5em;
        .login_section_cont, .pass-recovery_section_cont {
            max-width: 355px;
            margin: auto;
            .save_info {
                padding-top: 1.5em;
                > * {
                    width: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                }
                > a {
                    font-size: 1.4em;
                    margin-left: -1%;
                    text-align: right;
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
            .btn_cont {
                text-align: center;
                padding-top: 3.5em;
                .button.small-btn {
                    padding: 0 .5em;
                }
            }
        }
    }
    .col_title {
        font-size: 2.4em;
        font-weight: 600;
        margin-bottom: .5em;
        padding-left: 5%;
    }
    .button.medium-btn {
        min-width: inherit;
        font-size: 4em;
        line-height: 1.2;
        padding: 0 .6em;
    }
}
.input-cont {
    label {
        margin: 0;
        font-weight: 600;
        display: block;
        font-size: 1.4em;
        padding-left: 5%;
    }
    input {
        &::-webkit-input-placeholder {
            color: rgba(0, 0, 0, .5);
            transition: .2s;
        }
        &::-moz-placeholder {
            color: rgba(0, 0, 0, .5);
            transition: .2s;
        }
        &:-ms-input-placeholder {
            color: rgba(0, 0, 0, .5);
            transition: .2s;
        }
        &:-moz-placeholder {
            color: rgba(0, 0, 0, .5);
            transition: .2s;
        }
    }
    .select-arrow {
        position: relative;
        select {
            -webkit-appearance: none;
            appearance: none;
        }
        &:after {
            content: ">";
            position: absolute;
            display: block;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            font-family: "bombardier";
            font-size: 27px;
            color: #25292d;
            line-height: .7;
            right: 10px;
            top: 11px;
        }
    }
    .form-group {
        margin: 0;
        width: 100%;
        max-width: 355px;
        position: relative;
        @include beveled-corners(#c2c2c2, 4px, 4px);
        padding: 2px;
        margin-bottom: 1em;
        input,
        select {
            @include beveled-corners(#e8e8e8, 3.5px, 3.5px);
            border: none;
            outline: none;
            padding: 5px 25px 5px 14px;
            font-size: 2em;
            width: 100%;
            transition: .2s;
            &:focus {
                @include beveled-corners(#fff, 3.5px, 3.5px);
                box-shadow: 0 0 15px 0px rgba(3, 234, 255, .7);
            }
        }
        &.phone_cont {
            .left_c {
                float: left;
                width: 83px;
                input {
                    padding: 5px 0px 5px 10px;
                    @include beveled-corners(#e8e8e8, 3.5px, 0, 0, 3.5px);
                }
            }
            .right_c {
                float: right;
                width: calc(100% - 85px);
                input {
                    @include beveled-corners(#e8e8e8, 0, 3.5px, 3.5px, 0);
                }
            }
        }
    }
    .promo_cont {
        max-width: 355px;
        .left_c {
            float: left;
            width: 46%;
        }
        .right_c {
            float: right;
            width: 50%;
            font-size: 2em;
            padding: .3em 0 0 0;
        }
    }
    .date-select {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: inherit;
        align-items: baseline;
        max-width: 355px;
        .form-group {
            width: 24%;
            &:first-child {
                width: 47%;
            }
            select {
                padding-right: 0;
            }
        }
    }
}
